.delete_button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 2px;
}

.delete_button_fa-trash {
  color: #d50000;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.delete_button_fa-trash:hover {
  color: hsl(0, 100%, 32%);
  background: #000;
}
