.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo_img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}

.userInfo_name_wrapper {
  display: flex;
}

.userInfo_name {
  color: #ffc107;
  font-weight: 600;
  padding-right: 5px;
}

.userInfo_name::first-letter {
  text-transform: uppercase;
}

#fa-user-circle {
  margin-right: 20px;
}

.userInfo_pro {
  background: #ffc107;
  font-weight: 600;
  color: #000;
  padding: 3px;
}

.userInfo_button_edit_profile {
  text-decoration: none;
  color: var(--h1-color);
  border: 2px solid var(--h1-color);
  padding: 5px 10px;
  background: transparent;
  font-weight: 600;
  margin-left: 20px;
  transition: all 0.4s ease-in-out;
}

.userInfo_button_edit_profile:hover {
  text-decoration: none;
  color: var(--h1-color-hover);
  border: 2px solid var(--h1-color);
  padding: 5px 10px;
  background: var(--bg-color-hover);
}

@media screen and (max-width: 550px) {
  .userInfo {
    flex-direction: column;
  }
  .userInfo_img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #fa-user-circle {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .userInfo_button_edit_profile {
    margin-left: 0px;
    margin-top: 20px;
  }
}
