.album_wrapper {
  display: grid;
  justify-content: start;
  align-items: center;
  gap: 5px;
  transition: all 0.4s ease-in-out;
}

.album_wrapper:hover .album_title {
  background: #ffc107;
  color: #000000;
}

.album_wrapper:hover .album_mediaItemsCount {
  background: #ffc107;
  color: #000000;
}

.album_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  background: #ffc107;
}

.album_wrapper:hover .album_image {
  transform: scale3d(0.9, 0.9, 1);
  background: hsla(45, 100%, 41%, 0.7);
}

.album_title {
  color: #ffc107;
  font-weight: 600;
  text-align: left;
  transition: all 0.4s ease-in-out;
}

.album_mediaItemsCount {
  color: var(--p-color);
  text-align: left;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 560px) {
  .album_wrapper {
    justify-content: center;
  }
}
