.blog-search-form {
  margin-top: 20px;
  width: 250px;
  margin: auto;
}

.blog-search {
  padding: 3px;
  border: 1px solid var(--p-color);
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 90%;
}

.blog-search:focus {
  border: 1px solid #ffc107;
  box-shadow: 0 0 0 2px hsla(45, 100%, 41%, 0.2);
  transition: all 0.4s ease-in-out;
}

.blog-search-btn {
  outline: none;
  border: none;
  background: none;
  margin-left: 10px;
  cursor: pointer;
  color: var(--p-color);
  transition: all 0.4s ease-in-out;
}

.blog-search-btn:hover {
  color: #ffc107;
}
