.btn-accordion-wrapper {
  margin-bottom: 20px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.btn-accordion {
  outline: none;
  border: none;
  background: none;
  color: #000;
  background: #ffc107;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  margin: auto;
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.btn-accordion:hover {
  background: hsl(45, 100%, 41%);
}

.accordion-title {
  margin-left: 20px;
}

.fas.fa-chevron-down {
  color: #000;
  transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
  margin-left: 5px;
}

.rotate {
  transform: rotate(-90deg);
  transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
}

@media screen and (max-width: 1400px) {
  .btn-accordion-wrapper {
    margin: 20px 20px 0px 20px;
  }
}
