.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #000;
  border-bottom: 2px solid #ffc107;
  padding: 10px 0px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images_slider_logo {
  margin-left: 20px;
}

.header_dropDown_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.header_dropDown_wrapper > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_navLInk {
  color: hsl(45, 100%, 51%);
  text-decoration: none;
}

.header_selected-navLink {
  color: hsl(45, 100%, 41%);
}
