.footer_wrapper {
  background: var(--bg-color);
  padding: 20px;
  border-top: 2px solid #ffc107;
  transition: all 0.4s ease-in-out;
}

.footer_copyright {
  color: #ffc107;
}

.footer_email {
  color: #ffc107;
}

.footer_privacy-policy {
  text-decoration: none;
  color: #ffc107;
}
.footer_privacy-policy:hover {
  color: hsl(45, 100%, 41%);
}
