.collection_private {
  margin-top: 78px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
}

.collection_private_title {
  color: #ffc107;
  font-weight: 600;
  padding-right: 5px;
  text-align: left;
}

.collection_private_title::first-letter {
  text-transform: uppercase;
}

.collection_private_imagesLength {
  color: var(--p-color);
  margin-bottom: 20px;
  text-align: left;
}

.collection_private_images {
  max-width: 1400px;
  margin: auto;
  column-width: 300px;
  column-gap: 20px;
}

.collection_private_link {
  break-inside: avoid;
  page-break-inside: avoid;
  margin: 0 0 20px 0;
  position: relative;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

.collection_private_img {
  display: block;
  width: 100%;
  height: 100%;
}

.collection_private_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.collections_private_description {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.collections_private_description::first-letter {
  text-transform: uppercase;
}

.collection_private_link:hover .collection_private_inner {
  display: block;
}

.collection_private_video_type {
  display: grid;
  width: 100%;
  height: 182.81px;
  background: #ffc107;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.collection_private_video_type_description::first-letter {
  text-transform: uppercase;
}

.collection_private_back {
  text-align: left;
}

.collection_private_back_i {
  color: #ffc107;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.collection_private_back_i:hover {
  color: hsla(45, 100%, 41%, 0.7);
}

.collection_private_container {
  display: flex;
  justify-content: space-between;
}

.collection_private_inner_button_wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  transition: all 0.4s ease-in-out;
}

.collection_private_link:hover .collection_private_inner_button_wrapper {
  display: block;
}
